<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <div *ngFor="let photo of photos; let idx = index">
      <ion-row *ngIf="idx % 4 === 0">

        <ion-col>
          <ion-img [src]="photo" style="border: 1px solid black; min-width: 300px !important; min-height: 300px !important;"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img [src]="photos[idx+1]" style="border: 1px solid black; min-width: 300px !important; min-height: 300px !important;"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img [src]="photos[idx+2]" style="border: 1px solid black; min-width: 300px !important; min-height: 300px !important;"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img [src]="photos[idx+3]" style="border: 1px solid black; min-width: 300px !important; min-height: 300px !important;"></ion-img>
        </ion-col>

      </ion-row>
    </div>

  </ion-grid>
</ion-content>